<header>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand">ITRex Email App</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a 
                    class="create-email nav-link" 
                    (click)="onCreateEmail()" 
                    title="New Email">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
</header>
<div class="container-wrapper" [ngClass]="{'active':showEmailModal}">
  <div class="create-email-container" >
      <span >Send new E-mail </span><span title="Close" (click)="onCloseEmailForm()" style="float:right; text-align:center; cursor:pointer; font-size:1.5em;">&times;</span>
      <form (ngSubmit)="onEmailSubmit()" [formGroup]="myFormGroup" novalidate>
          <div class="form-group ">
              <label for="email">To:</label>
              <input 
                id="email" 
                type="email" 
                class="form-control" 
                placeholder="example@example.com"
                formControlName="recipient">
            </div>
          <div class="form-group ">
              <label for="subject">Subject:</label>
              <input 
                id="subject" 
                type="text" 
                class="form-control" 
                placeholder="Meeting, Go camping, etc."
                formControlName="subject">
            </div>
          <div class="form-group ">
              <label for="emailText">Text:</label>
              <textarea 
                id="emailText"  
                class="form-control" 
                rows="13"
                formControlName="emailText"></textarea>
            </div>
            <button type="submit" class="btn btn-info" [disabled]="!myFormGroup.valid">Send</button>
      </form>
  </div>
</div>


<app-email-list [emails]="emails"></app-email-list>
